<mat-grid-list cols="2" rowHeight="50%" gutterSize="10px">
  <mat-grid-tile class="devamdurum">
    <div fxLayout="column" fxLayoutAlign="end center">
      <input class="btnDurum" (click)="openHocaDevam()" type="button" value="Öğrenci-Devamszılık Durumu" />
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="dönemlikders" rowspan="2">
    <div fxLayout="column" fxLayoutAlign="end center">
      <input  [routerLink]="['/hoca-donemlik-ders-islemi']" class="btnDers" type="button" value="Dönemlik-Ders İşlemleri" />

    </div>
  </mat-grid-tile>
  <mat-grid-tile class="devamislem">
    <div fxLayout="column" fxLayoutAlign="end center">
      <input class="btnislem" type="button" value="Öğrenci-Devamszılık-İşlemleri" />
    </div>
  </mat-grid-tile>
</mat-grid-list>

