<html>
  <body>
    <div fxLayout="column" class="login-box">
      <h1 fxFlex fxLayoutAlign="center">Sign-Up</h1>
      <form fxFlex [formGroup]="loginForm">

     <div class="textbox">
        <!-- <i class="fas fa-lock" aria-hidden="true">-->
        <input
        formControlName="name"
          type="text"
          [(ngModel)]="name"
          placeholder="Name"
          name=""
          value=""
        />
      </div>
      <div  class="textbox">
        <!-- <i class="fas fa-user" aria-hidden="true"></i>-->
        <input
        formControlName="surname"
          type="text"
          [(ngModel)]="surname"
          placeholder="Surname"
          name=""
          value=""
        />
      </div>

      <div  class="textbox">
        <!-- <i class="fas fa-user" aria-hidden="true"></i>-->
        <input
        formControlName="username"
          type="text"
          [(ngModel)]="username"
          placeholder="Username"
          name=""
          value=""
        />
      </div>
      <div  class="textbox">
        <!-- <i class="fas fa-user" aria-hidden="true"></i>-->
        <input
        formControlName="password"
          type="text"
          [(ngModel)]="password"
          placeholder="Password"
          name=""
          value=""
        />
      </div>
      <div  class="textbox">
        <!-- <i class="fas fa-user" aria-hidden="true"></i>-->
        <input
        formControlName="email"
          type="text"
          [(ngModel)]="email"
          placeholder="Email"
          name=""
          value=""
        />
      </div>
    </form>
      <input
        (click)="signUp()"
        (click)="openloginHoca()"
        class="btn"
        type="button"
        name=""
        value="Sign-up"
        [disabled]="loginForm.invalid"
      />
    </div>
  </body>
</html>

