<html>
  <body>
    <div fxLayout="column" class="login-box">
      <h1 fxFlex fxLayoutAlign="center">Login</h1>
      <form fxFlex [formGroup]="loginForm">
        <div class="textbox">
          <!-- <i class="fas fa-user" aria-hidden="true"></i>-->
          <input
            formControlName="username"
            type="text"
            [(ngModel)]="username"
            placeholder="Username"
            name=""
            value=""
          />
        </div>

        <div class="textbox">
          <!-- <i class="fas fa-lock" aria-hidden="true">-->
          <input
            formControlName="password"
            type="text"
            [(ngModel)]="password"
            placeholder="Password"
            name=""
            value=""
          />
        </div>
      </form>
      <input
        (click)="login()"
        [routerLink]="['/home']"
        class="btn"
        type="button"
        name=""
        value="Sign-in"
        [disabled]="loginForm.invalid"
      />
      <input
        (click)="openSignUp()"
        class="btn"
        type="button"
        name=""
        value="Sign-up"
      />
    </div>
  </body>
</html>
