<p (click)="close()">
  ahmet works!
</p>
<div fxLayout="row" fxLayoutGap="150px" fxLayoutAlign="space-around">
  <div fxFlex="0 0 auto" (click)="ac()">Hello</div>
  <div fxFlex="0 0 auto">Hello</div>
  <button mat-button color="primary">Click me!</button>
</div>
<p (click)="close()">
  ahmet works!
</p>
<div fxLayout="row" fxLayoutGap="150px" fxLayoutAlign="space-around">
  <div fxFlex="0 0 auto" (click)="ac()">Hello</div>
  <div fxFlex="0 0 auto">Hello</div>
  <button mat-button color="primary">Click me!</button>
</div>
