<mat-grid-list cols="2" rowHeight="50%" gutterSize="10px">
  <mat-grid-tile class="yoklamaal">
    <div fxLayout="column" fxLayoutAlign="end center">
      <input class="btnYoklama" type="button" value="Yoklamaya Katıl" />
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="dönemlikders" rowspan="2">
    <div fxLayout="column" fxLayoutAlign="end center">
      <input class="btnDers" type="button" value="Dönemlik-Ders İşlemleri" />
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="devamsızlık" fxLayoutAlign="center center">
    <input
      fxLayoutAlign="center center"
      class="btnDevam"
      type="button"
      value="Devamsızlık Bilgisi"
    />
  </mat-grid-tile>
</mat-grid-list>
